body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

img{
    border: 3px solid #032c2c
}

.card {
  position: relative;
  width: 500px;
  height: 200px;
  background: #9966ebf1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.card::before {
  content: '';
  position: absolute;
  width: 400%;
  height: 400%;
  background: conic-gradient(transparent, transparent, transparent, #9f12d6);
  animation: girar 4s linear infinite;
}

.card::after {
  content: '';
  position: absolute;
  inset: 3px;
}

@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container-flex{
  display:flex;
  justify-content: space-evenly;
  align-items: space-evenly;

}
.card {
  background-color: #4601a0;
  color: #e205ff;
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.4s ease; /* Tempo da animação */
}

.card:hover {
  background-color: #82019c; /* Cor final vermelha ao passar o mouse */
}
